/* Global container to center the content vertically and horizontally */
.centered-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  padding: 0 20px; /* Added padding for small screens */
  width: 100%; /* Ensure it takes up the full width of the screen */
}

/* Center the content with padding, background, and box shadow */
.monkey-money-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  padding: 100px; /* Increased inner padding for a larger box */
  margin-top: 50px; /* Space from navbar */
  margin-bottom: 100px; /* Increased space at the bottom of the container */
  border-radius: 12px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); /* Stronger shadow for more depth */
  max-width: 1000px; /* Increased max-width to make the box larger */
  width: 100%; /* Ensure it fits within the container */
  transition: transform 0.3s ease-in-out;
}

.monkey-money-container:hover {
  transform: translateY(-5px);
}

/* Form Input Styling */
.form-group {
  margin-bottom: 20px;
  width: 100%;
}

input.form-control {
  padding: 12px;
  font-size: 1.2rem; /* Slightly larger font for input */
  border-radius: 8px;
  border: 2px solid #ccc; /* Increased border width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow */
  transition: box-shadow 0.3s ease, border 0.3s ease; /* Smooth transition for focus effects */
}

input.form-control:focus {
  border: 2px solid #F6C90E; /* Highlight border on focus */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Increased shadow on focus */
}


/* Call-to-Action Button Styling */
button {
  background-color: #F6C90E;
  border: none;
  padding: 16px 30px; /* Increased padding for larger button */
  font-size: 1.3rem; /* Larger font size for the button */
  font-weight: bold;
  border-radius: 8px;
}

button:hover {
  background-color: #F6C90E;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .monkey-money-container {
    padding: 60px; /* Adjusted padding for tablets */
    margin-top: 50px;
    margin-bottom: 80px; /* Increased bottom margin for tablets */
  }

  .monkey-money-description {
    font-size: 1.2rem;
  }

  .monkey-money-button {
    font-size: 1.2rem;
    padding: 14px 20px;
  }
}

@media (max-width: 480px) {
  .monkey-money-container {
    padding: 50px; /* Adjusted padding for small screens */
    margin-top: 50px;
    margin-bottom: 80px; /* Increased bottom margin for small screens */
  }

  .monkey-money-description {
    font-size: 1.1rem;
  }

  .monkey-money-button {
    font-size: 1.1rem;
    padding: 12px 22px;
  }
}
