.fill-input {
    font-family: "IBM Plex Sans Thai", sans-serif;  /* Apply font */
    font-size: 16px; /* Adjust size if needed */
    font-weight: 600;
    text-align: center;
    color: #212121;  /* Normal text color */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

/* Style the placeholder text */
.fill-input::placeholder {
    font-family: "IBM Plex Sans Thai", sans-serif;  /* Apply font */
    font-size: 16px;  /* Adjust size */
    color: #9E9E9E;  /* Optional: Lighter color for placeholder */
    opacity: 1; /* Ensure visibility in some browsers */
}
